.homepage {
  height: calc(100vh - 5rem);
  margin: 2.5rem;
  background-image: linear-gradient(
      rgba(36, 42, 46, 0.8),
      rgba(36, 42, 46, 0.8)
    ),
    url("../public/bg.jpg");
  background-size: cover;
  background-position: center;
  padding: 2.5rem 5rem;
}

.homepage section {
  display: flex;
  flex-direction: column;
  height: 85%;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  text-align: center;
}

.homepage h1 {
  font-size: 4.5rem;
  line-height: 1.3;
}

.homepage h2 {
  width: 90%;
  font-size: 1.9rem;
  color: var(--color-light--1);
  margin-bottom: 2.5rem;
}

.cta {
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--color-primary);
  color: var(--color-light--1);
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
}

.cta:hover {
  background-color: var(--color-primary-dark);
}

/* Media Queries for Responsiveness */

/* Tablets and below */
@media screen and (max-width: 878px) {
  .homepage {
    margin: 2rem;
    padding: 2rem 3rem;
  }

  .homepage h1 {
    font-size: 3.5rem;
  }

  .homepage h2 {
    font-size: 1.5rem;
  }

  .cta {
    font-size: 1.25rem;
    padding: 0.6rem 1.2rem;
  }
}

@media screen and (max-width: 650px) {
  .homepage h1 {
    font-size: 3.2rem;
  }

  .homepage section {
    gap: 1.2rem;
  }
}

@media screen and (max-width: 560px) {
  .homepage h1 {
    font-size: 2.8rem;
  }

  .homepage section {
    gap: 1.2rem;
  }
}

@media screen and (max-width: 480px) {
  .homepage h1 {
    font-size: 2.2rem;
  }

  .homepage section {
    gap: 1.2rem;
  }
}

@media screen and (max-width: 442px) {
  .homepage section {
    gap: 1.2rem;
  }
}
