.login {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 48rem;
  margin: 2rem auto;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.buttons {
  display: flex;
  gap: 1.2rem;
}

@media (max-width: 768px) {
  .login {
    margin: 1.5rem;
    padding: 2rem;
  }

  .form {
    padding: 1.5rem 2rem;
    margin: 1.5rem auto;
  }
}

@media (max-width: 480px) {
  .login {
    margin: 1rem;
    padding: 1rem;
  }

  .form {
    padding: 1rem 1.5rem;
    margin: 1rem auto;
  }
}
