.product {
  margin: 2.5rem;
  padding: 2.5rem 5vw;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
}

.product section {
  max-width: 90%;
  margin: 6rem auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  align-items: center;
}

@media (min-width: 768px) {
  .product section {
    grid-template-columns: 1fr 1fr;
    gap: 7rem;
  }
}

.product img {
  width: 100%;
}

.product h2 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.product p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.product section a {
  margin-top: 2rem;
}
