.product {
  margin: 2.5rem;
  padding: 2.5rem 1rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
}

.product section {
  width: clamp(80rem, 80%, 90rem);
  /* max-width: 90rem; */
  margin: 6rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
}

.product img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.product h2 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.product p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.product section a {
  margin-top: 1.5rem;
}

@media (max-width: 1200px) {
  .product section {
    gap: 4rem;
  }

  .product h2 {
    font-size: 3rem;
  }
}

@media (max-width: 992px) {
  .product section {
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .product section {
    grid-template-columns: 1fr;
  }

  .product img {
    width: 80%;
    margin: 0 auto;
  }

  .product h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 576px) {
  .product {
    margin: 1.5rem;
    padding: 1.5rem 0.5rem;
  }

  .product section {
    margin: 3rem auto;
    gap: 2rem;
  }

  .product h2 {
    font-size: 2rem;
  }

  .product p {
    font-size: 1.4rem;
  }
}
