/* .logo {
  height: 5.2rem;
}

.logo {
  height: 5.2rem;
  width: auto;
  transition: height 0.3s ease;
} */

.logo {
  height: 5.2rem;
  width: auto;
  transition: height 0.3s ease;
}

@media (max-width: 768px) {
  .logo {
    height: 4rem; /* Adjusted height for smaller screens */
  }
}

@media (max-width: 480px) {
  .logo {
    height: 3rem; /* Further reduced height for mobile devices */
  }
}
