.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  margin-top: 1.6rem;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 0;
  margin: 0;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}

/* CSS Modules feature */
.nav a:global(.active) {
  color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
}

@media (max-width: 1076px) {
  .nav {
    margin-bottom: 2.6rem;
  }
}

@media (max-width: 790px) {
  .menu {
    gap: 2rem;
  }

  .nav a {
    font-size: 1.2rem;
  }

  .ctaLink {
    padding: 0.6rem 1.5rem;
  }
}

@media (max-width: 650px) {
  .hamburger {
    display: block;
  }

  .hamburgerIcon {
    height: 5.6rem;
  }

  .crossiconContainer {
    position: absolute;
    z-index: 10000;
    top: 0;
    bottom: 0;
    margin-top: 0.8rem;
  }

  .menu {
    display: none;
    background-color: var(--color-dark--1);
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    position: absolute;
    margin-left: 0;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  .menuOpen {
    display: flex;
    padding: 1.8rem;
  }

  .nav a {
    font-size: 1rem;
  }

  .ctaLink {
    padding: 0.5rem 1rem;
    margin-bottom: 1.2rem;
  }
}

@media (max-width: 440px) {
  .menu {
    margin-left: 2rem;
  }
}
