.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}

/* CSS Modules feature */
.nav a:global(.active) {
  color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
}

/* Media Queries for Responsiveness */

/* Desktops and larger tablets */
@media screen and (max-width: 1076px) {
  .nav {
    margin-bottom: 2.6rem;
  }
}

/* Tablets and below */
@media screen and (max-width: 790px) {
  .nav ul {
    gap: 2rem;
    align-items: center;
  }

  .nav a:link,
  .nav a:visited {
    font-size: 1.2rem;
  }

  a.ctaLink:link,
  a.ctaLink:visited {
    padding: 0.6rem 1.5rem;
  }
}

@media (max-width: 770px) {
  .nav ul {
    gap: 2rem;
    margin-top: 1.2rem;
  }

  .nav a:link,
  .nav a:visited {
    font-size: 1.2rem;
  }

  a.ctaLink:link,
  a.ctaLink:visited {
    padding: 0.6rem 1.5rem;
  }
}

/* Mobile devices */
@media screen and (max-width: 480px) {
  .nav {
    align-items: flex-start;
  }

  .nav ul {
    gap: 2.6rem;
    margin-top: 2.2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .nav a:link,
  .nav a:visited {
    font-size: 1rem;
  }

  a.ctaLink:link,
  a.ctaLink:visited {
    padding: 0.5rem 1rem;
  }
}
